---
import themeConfig from '../theme.config';

const docsBasePath = themeConfig.docs.basePath;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${docsBasePath}`} />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href={docsBasePath} />
    <title>Redirecting to documentation</title>
  </head>
  <body>
    <a href={docsBasePath}>Open documentation</a>
  </body>
</html>
