---
import {
  AppearancePalette,
  SocialIcons,
} from '@prosefly/astro-theme-lotus/components';

const props = Astro.props as any;
---

<SocialIcons {...props} />
<span class="hidden lg:inline-block">
  <AppearancePalette />
</span>
