---
import {
  ThemeModeSegmentedControl,
  ThemeModeButton,
  ThemeModeSelect,
  ThemeModeSwitch,
} from '@prosefly/astro-theme-lotus/components';
---

<div data-theme-switch-variant data-active="segmented-control">
  <div class="hidden" data-type="segmented-control">
    <ThemeModeSegmentedControl />
  </div>
  <div class="hidden" data-type="button">
    <ThemeModeButton />
  </div>
  <div class="hidden" data-type="select">
    <ThemeModeSelect />
  </div>
  <div class="hidden" data-type="switch">
    <ThemeModeSwitch />
  </div>
</div>

<style>
  [data-theme-switch-variant][data-active="segmented-control"] > [data-type="segmented-control"],
  [data-theme-switch-variant][data-active="button"] > [data-type="button"],
  [data-theme-switch-variant][data-active="select"] > [data-type="select"],
  [data-theme-switch-variant][data-active="switch"] > [data-type="switch"] {
    display: block;
  }
</style>
